<div class="user-card" [highlightAge]="18" [appAgeHighlight]="user.age">
    <div class="user-header">
        <ng-container *ngTemplateOutlet="titleContent"></ng-container>
      </div>
    <div class="user-info">
        <p><span>Name: </span>{{ user.firstName | fullName:user.lastName }}</p>
        <p><span>Age: </span>{{user.age}}</p>
        <p><span>Gender: </span>{{user.gender}}</p>
        <p><span>Activated: </span>{{user.activated ? 'yes' : 'no'}}</p>
        <p><span>Creation Date: </span>{{user.dateOfCreation | date:'dd-MM-yyyy'}}</p>
        <p><span>Salary: </span>{{user.salary | currency:'USD':'symbol':'1.2-2'}}</p>
        <button mat-button (click)="changeActivate()">{{user.activated ? 'Deactivate' : 'Activate'}}</button>
        <button mat-button (click)="delete()">Delete</button>
    </div>

</div>