<h2> User list View Component</h2>
<mat-checkbox [(ngModel)]="showOnlyActiveItems"> Show only activated users</mat-checkbox>
<ng-container *ngFor="let user of users | orderByCreationDate">
    <div *ngIf="!showOnlyActiveItems || user.activated">
        <app-user-card-component [user]="user" (deleteUser)="deleteUser()">
            <ng-template #userCardTitle>
                {{ user.firstName | fullName:user.lastName }}
              </ng-template>
        </app-user-card-component>
    </div>
</ng-container>
